.headerContainer {
  /* background-color: red; */
  display: flex;
  padding: 30px 0px;
  padding-left: 30px;
  gap: 40px;
  font-size: 17px;
  font-weight: 400;
}

.navigation{
    display: flex;
    gap: 25px;
}

.logo{
    img{
        width: 100px;
    }
}

.rule{
    height: 2px;
    background-color: #1a73e8;
    margin-top: 18px;
}